{% extends 'base.html.twig' %}

{% block title %}Page index{% endblock %}

{% block body %}
    <h1>Page index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Title</th>
                <th>Content</th>
                <th>Slug</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for page in pages %}
            <tr>
                <td>{{ page.id }}</td>
                <td>{{ page.title }}</td>
                <td>{{ page.content }}</td>
                <td>{{ page.slug }}</td>
                <td>
                    <a href="{{ path('page_show', {'id': page.id}) }}">show</a>
                    <a href="{{ path('page_edit', {'id': page.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="5">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
	{% if previous >=0 %}
		<a href="{{ path('page_index',{id:page.id,offset:previous}) }}">Previous</a>
	{% endif %}
	{% if next < pages|length %}
		<a href="{{ path('page_index',{id:page.id,offset:next}) }}">Next</a>
	{% endif %}
	

    <a href="{{ path('page_new') }}">Create new</a>
{% endblock %}
